__pycache__/variables.cpython-313.pyc

*.db
/output booking
variables.py

output python/output20250602-2137.txt
__pycache__/variables.cpython-312.pyc
variables.py

variables.py
output python/
variables.py
variables.py
venv
.DS_Store
__pycache__
pointercalculator.db
static/db/habit/mydb.db
static/db/error/error.csv
pelajar_data.xlsx
pelajar_data_2.xlsx
