__pycache__/variables.cpython-313.pyc

/output booking
variables.py

output python/output20250602-2137.txt
__pycache__/variables.cpython-312.pyc
variables.py

variables.py
output python/
variables.py
variables.py
venv
variables.py.example
.DS_Store
__pycache__
