[Unit]
Description=Quart App with Gunicorn and UvicornWorker
After=network.target

[Service]
User=afwanhaziq
WorkingDirectory=/home/afwanhaziq/quartapp/afwan_cron
ExecStart=/home/afwanhaziq/.local/bin/gunicorn afwan_server:app --worker-class uvicorn.workers.UvicornWorker --bind 127.0.0.1:8000

Restart=always
RestartSec=3
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
