{# tanam/base.html #}
<!DOCTYPE html>
<html>
<head>
  <title>{{title | safe }}</title>
  {% block head %}
  {% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='lib/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
    <style>
        body {
            background: url('/static/images/tanam/bg.jpg') no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
  {{ html | safe }}

  {% block script %}
  {% endblock %}
  <link href="{{ url_for('static', filename='lib/bootstrap.min.js') }}" rel="stylesheet" crossorigin="anonymous">
</body>
</html>