{# tanam/pilih.html #}

{% extends "tanam/base.html" %}

{% block head %}
<style>
    .container {
        background-color: rgb(0 0 0 / 28%);
    }
    .card a img {
        
        width: 90px;
        height: 90px;

    }
</style>

{% endblock %}


{% block script %}
<script>
    let currentIndex = 0;
    
    function slideLeft() {
        const cardContainer = document.querySelector('.card-container');
        const cards = document.querySelectorAll('.card');
        if (currentIndex > 0) {
            currentIndex--;
            cardContainer.style.transform = `translateX(${-currentIndex * 360}px)`;
        }
    }
    
    function slideRight() {
        const cardContainer = document.querySelector('.card-container');
        const cards = document.querySelectorAll('.card-container');
        if (currentIndex < cards.length) {
            currentIndex++;
            cardContainer.style.transform = `translateX(${-currentIndex * 360}px)`;
        }
    }
</script>
{% endblock %}
