{# ular/main.html #}
{% extends "ular/base.html" %}


{% block content %}
    <p>Ular</p>
    
    <br/>
    <p>api/createroom</p>
    <form action="/api/ular/createroom" method="get">
        <input type="text" name="player" placeholder="player" />
        <input type="text" name="color" placeholder="color" />
        <button type="submit">Submit</button>
    </form>
    <p id="outputcreateroom">todo - json output from api/createroom</p>
    <br/>
    <br/>
    <p>api/joinroom</p>
    <form action="/api/ular/joinroom" method="get">
        <input type="text" name="code" placeholder="code" />
        <input type="text" name="player" placeholder="player" />
        <input type="text" name="color" placeholder="color" />
        <button type="submit">Submit</button>
    </form>
    <p id="outputjoinroom">todo - json output from api/joinroom</p>
    <br/>
    <br/>
    <p>api/state</p>
    <form action="/api/ular/state" method="get">
        <input type="text" name="code" placeholder="code" />
        <button type="submit">Submit</button>
    </form>
    <p id="outputstate">todo - json output from api/state</p>
    <br/>
    <br/>
    <p>api/startgame</p>
    <form action="/api/ular/startgame" method="get">
        <input type="text" name="code" placeholder="code" />
        <button type="submit">Submit</button>
    </form>
    <p id="outputstartgame">todo - json output from api/startgame</p>
    <br/>
    <br/>
    <p>api/rolldice</p>
    <form action="/api/ular/rolldice" method="get">
        <input type="text" name="code" placeholder="code" />
        <input type="text" name="player" placeholder="player" />
        <button type="submit">Submit</button>
    </form>
    <p id="outputrolldice">todo - json output from api/rolldice</p>
    <script>
        
        function createroom() {
            const player = document.getElementById("player").value;
            const color = document.getElementById("color").value;
            const code = document.getElementById("code").value;
            const outputcreateroom = document.getElementById("outputcreateroom");
            outputcreateroom.innerHTML = "Creating room...";
            fetch("/api/ular/createroom", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    player: player,
                    color: color
                })
            }).then(response => response.json()).then(data => {
                outputcreateroom.innerHTML = JSON.stringify(data);
            }).catch(error => {
                outputcreateroom.innerHTML = "Error: " + error;
            });
        }

        function joinroom() {
            const code = document.getElementById("code").value;
            const player = document.getElementById("player").value;
            const color = document.getElementById("color").value;
            const outputjoinroom = document.getElementById("outputjoinroom");
            outputjoinroom.innerHTML = "Joining room...";
            fetch("/api/ular/joinroom", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    code: code,
                    player: player,
                    color: color
                })
            }).then(response => response.json()).then(data => {
                outputjoinroom.innerHTML = JSON.stringify(data);
            }).catch(error => {
                outputjoinroom.innerHTML = "Error: " + error;
            });
        }

        function state() {
            const code = document.getElementById("code").value;
            const outputstate = document.getElementById("outputstate");
            outputstate.innerHTML = "Getting state...";
            fetch("/api/ular/state", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    code: code
                })
            }).then(response => response.json()).then(data => {
                outputstate.innerHTML = JSON.stringify(data);
            }).catch(error => {
                outputstate.innerHTML = "Error: " + error;
            });
        }

        function startgame() {
            const code = document.getElementById("code").value;
            const outputstartgame = document.getElementById("outputstartgame");
            outputstartgame.innerHTML = "Starting game...";
            fetch("/api/ular/startgame", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    code: code
                })
            }).then(response => response.json()).then(data => {
                outputstartgame.innerHTML = JSON.stringify(data);
            }).catch(error => {
                outputstartgame.innerHTML = "Error: " + error;
            });
        }

        function rolldice() {
            const code = document.getElementById("code").value;
            const player = document.getElementById("player").value;
            const outputrolldice = document.getElementById("outputrolldice");
            outputrolldice.innerHTML = "Rolling dice...";
            fetch("/api/ular/rolldice", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    code: code,
                    player: player
                })
            }).then(response => response.json()).then(data => {
                outputrolldice.innerHTML = JSON.stringify(data);
            }).catch(error => {
                outputrolldice.innerHTML = "Error: " + error;
            });
        }

        function reset() {
            const outputcreateroom = document.getElementById("outputcreateroom");
            outputcreateroom.innerHTML = "";
            const outputjoinroom = document.getElementById("outputjoinroom");
            outputjoinroom.innerHTML = "";
            const outputstate = document.getElementById("outputstate");
            outputstate.innerHTML = "";
            const outputstartgame = document.getElementById("outputstartgame");
            outputstartgame.innerHTML = "";
            const outputrolldice = document.getElementById("outputrolldice");
            outputrolldice.innerHTML = "";
        }
    </script>
    
{% endblock %}